1. Consider a 2D list storing student's name along with their marks. Use list comprehension to create another list comprising names of students with  marks greater than 85.

In [47]:
student=[['A',84],['B',75],['C',94],['D',85],['E',87],['F',86]]
distinction=[]
for x in student:
  if x[1] > 85:
    distinction.append(x)

print(distinction)

[['C', 94], ['E', 87], ['F', 86]]

2. WAP that takes a list of marks as an input from the user and creates a dictionary storing marks and the corresponding frequency as key-value pairs.

In [70]:
marks=[]
n=int(input('Enter no. of students:'))
for i in range(0,n):
  marks.append(float(input('Enter mark of student '+str(i+1)+':')))

storage={}

for i in range(0,n):
  storage[i]=marks[i]

print(storage)

Enter no. of students:6
Enter mark of student 1:78
Enter mark of student 2:87
Enter mark of student 3:8
Enter mark of student 4:79
Enter mark of student 5:97
Enter mark of student 6:78
{0: 78.0, 1: 87.0, 2: 8.0, 3: 79.0, 4: 97.0, 5: 78.0}

3. WAP that takes a list of names as an input from the user and creates a dictionary storing word-length as key-value pair for each word given in the list.

In [71]:
name=[]
n=int(input('Enter name of students:'))
for i in range(0,n):
  name.append(input('Enter name of student '+str(i+1)+':'))

storage={}

for i in range(0,n):
  storage[i]=name[i]

print(storage)

Enter name of students:6
Enter name of student 1:Rakshit
Enter name of student 2:Rahul
Enter name of student 3:Prince
Enter name of student 4:Pooja
Enter name of student 5:Abhishek
Enter name of student 6:Nishant
{0: 'Rakshit', 1: 'Rahul', 2: 'Prince', 3: 'Pooja', 4: 'Abhishek', 5: 'Nishant'}